<div class="dashboard-container">
  <nav class="navbar">
    <div class="nav-content">
      <h1 class="nav-title">GRADES CALCULATOR</h1>
      <div class="nav-menu">
        <button class="nav-button" type="button" (click)="irADashboard()">Menu Principal</button>
        <button class="nav-button" type="button">Consultar Notas</button>
        <button class="nav-button" type="button" disabled>Agregar Materias y Notas</button>
        <button class="nav-button" type="button">Calcular Notas</button>
        <button class="nav-button" type="button">Visualizar Progreso</button>
      </div>
      <div class="nav-actions">
        <button class="logout-button" type="button" (click)="logout()">Logout</button>
      </div>
    </div>
  </nav>

   <div class="feature-cards-row-centered">
    <div class="feature-card" (click)="irAMaterias()">
        <img src="assets/materia.png" class="intro-icon">
        <h3>Agregar Materia</h3>
        <p class="card-description">
        Añade las materias de las que quieres llevar un registro este semestre.
        </p>
    </div>

    <div class="feature-card" (click)="irANotas()">
        <img src="assets/nota.png" class="intro-icon">
        <h3>Agregar Notas</h3>
        <p class="card-description">
        Añade nuevas calificaciones por las materia que has registrado.
        </p>
     </div>
   </div>


</div>
