<div class="pantalla">
<div class="contenedor-notas">
  <div class="encabezado">
    <h2>📊 Notas del Semestre </h2>
    <a routerLink="/materias" class="btn-agregar">+ Añadir Materias</a>
  </div>

  <div *ngIf="cargando">Cargando materias...</div>
  <div *ngIf="error" class="error">{{ error }}</div>

  <div *ngIf="!cargando && materias.length" class="materias">
    <div class="materia-card" *ngFor="let materia of materias">
      <h3>{{ materia.nombre }}</h3>

      <div class="notas">
        <p *ngIf="materia.notas.nota_final !== null">
          📌 Final:
          <span [ngClass]="getColor(materia.notas.nota_final)">
            {{ materia.notas.nota_final }}
          </span>
        </p>

        <p *ngIf="materia.notas.nota_semestral !== null">
          🧮 Semestral:
          <span [ngClass]="getColor(materia.notas.nota_semestral)">
            {{ materia.notas.nota_semestral }}
          </span>
        </p>

        <p *ngIf="materia.notas.nota_portafolio !== null">
          📁 Portafolio:
          <span [ngClass]="getColor(materia.notas.nota_portafolio)">
            {{ materia.notas.nota_portafolio }}
          </span>
        </p>

        <!-- Parciales -->
        <div *ngIf="materia.notas.notas_parciales?.length" class="lista-notas">
          🧾 Parciales:
          <div class="nota-individual" *ngFor="let parcial of materia.notas.notas_parciales; let i = index">
            Parcial {{ i + 1 }}:
            <span [ngClass]="getColor(parcial)">
              {{ parcial }}
            </span>
          </div>
        </div>

        <!-- Asignaciones -->
        <div *ngIf="materia.notas.notas_asig?.length" class="lista-notas">
          📚 Asignaciones:
          <div class="nota-individual" *ngFor="let asig of materia.notas.notas_asig; let i = index">
            Asig {{ i + 1 }}:
            <span [ngClass]="getColor(asig)">
              {{ asig }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>