<h2>Registrar Materia</h2>
<form (ngSubmit)="insertarMateria()" #formMateria="ngForm">
  <input type="text" name="N_MATERIA" placeholder="Nombre de la Materia" [(ngModel)]="materia.N_MATERIA" required />
  <input type="number" name="PARC_PORC" placeholder="% Parciales" [(ngModel)]="materia.PARC_PORC" required />
  <input type="number" name="ASIG_PORC" placeholder="% Asignaturas" [(ngModel)]="materia.ASIG_PORC" required />
  <input type="number" name="ASIST_PORC" placeholder="% Asistencia" [(ngModel)]="materia.ASIST_PORC" required />
  <input type="number" name="SEMESTRAL_PORC" placeholder="% Semestral" [(ngModel)]="materia.SEMESTRAL_PORC" required />
  <input type="email" name="CORREO_PROFESOR" placeholder="Correo del Profesor" [(ngModel)]="materia.CORREO_PROFESOR" required />
  <button type="submit">Guardar</button>
</form>
